#root {
  background-color: #282c34;
  min-height: 100vh;
}

.title {
  font-size: 60px;
  color: white;
  font-family: "Caveat", cursive;
}

.book {
  display: inline-block;
}

/* Search */

.fa-search,
.fa-volume-up {
  color: beige;
  width: auto;
  height: auto;
}

.fa-volume-up {
  font-size: 20px;
}

button:focus {
  box-shadow: 0 0 0 rgb(255, 255, 255) !important;
}

/* Result */

.result {
  font-size: 48px;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  text-transform: capitalize;
}

.phonetic {
  font-size: 26px;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-style: italic;
  display: inline;
}

.meanings {
  font-size: 18px;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.examples {
  font-style: italic;
}
.speech {
  font-size: 22px;
  color: salmon;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-transform: capitalize;
  font-style: oblique;
}
/* Footer */

.coder {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 15px;
  color: antiquewhite;
}

.coderName {
  font-family: "Caveat", cursive;
  font-size: 21px;
  color: antiquewhite;
}

.kat {
  width: 25px;
  padding-bottom: 5px;
}
