#root {
  background-color: #282c34;
  min-height: 100vh;
}

.title {
  font-size: 60px;
  color: white;
  font-family: "Caveat", cursive;
}

.book {
  display: inline-block;
}

/* Search */

.fa-search {
  color: beige;
  width: auto;
  height: auto;
}

button:focus {
  box-shadow: 0 0 0 rgb(255, 255, 255) !important;
}

h1 {
  font-size: 36px;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
}

/* Footer */

.coder {
  font-family: "Roboto Mono", monospace;
  font-weight: bolder;
  font-size: 15px;
  color: antiquewhite;
}

.coderName {
  font-family: "Caveat", cursive;
  font-size: 21px;
  color: antiquewhite;
}

.kat {
  width: 25px;
  padding-bottom: 5px;
}
